# Copy and modify this file as: .env, or .env.local
# ... it is for local development only, ignored by git.

# Use Auth0 to create the following configuration values.
# https://hasura.io/docs/1.0/graphql/core/guides/integrations/auth0-jwt.html

VITE_AUTH0_AUDIENCE="your-app-audience-identifier"
VITE_AUTH0_CLIENT="YOURAUTHZEROAPPCLIENTID"
VITE_AUTH0_DOMAIN="your-auth0-account.auth0.com"
VITE_AUTH0_REDIRECT_URI="http://localhost:3000/"
VITE_GRAPHQL_URI="//localhost:8080/v1/graphql"

# If deploying to DigitalOcean, you can copy and modify this to: .env.production 
# ... or add them to the App's Environment Variables component settings.
# ... I chose to exclude the VITE_ prefix from the Build Pipeline's ENV vars.
