.menu {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 10000;
    background: rgba(0,0,0, 0.5);
}

.details {
    max-width: 300px;
    overflow: hidden;
}

.pic {
    border-radius: 50%;
    border: 2px solid white;
}

.about {
    height: auto;
    width: 200px;
    overflow: hidden;
}